# Node modules
**/node_modules/
**/node_modules/**/*

# Build outputs
**/build/
**/dist/
**/out/

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp

# Docker
*.pid

# Coverage
**/coverage/
gitleaks.zip
kubernetes/secrets.yaml
prometheus-values-live.yaml
grafana-values-actuelles.yaml
kubernetes/monitoring/configmaps.yaml.old
